body { background: #f2f2f2; color: #85A0A6; }
.header { height: 100px; background-color: #592A25; }
.header .searchContainer { position: relative; text-align: right; padding: 6px; margin-top: 10px; background-color: #8C3027; }
.header .search {  }
.header .login { text-align: left; position: relative;}
.header .login input { width: 120px; }
#login { float: right; margin: 4px 34px 0px 0px;}

.leftMenu { margin: 0px 0px 0px 10px; padding-bottom: 21px; height: 100%; }
#accordion { height: 300px; }
#accordion ul { padding: 0px; margin: 0px; list-style: none; }

.wordCloud { margin-top: 20px;  }
.wordCloud h1,.wordCloud h2,.wordCloud h3,.wordCloud h4,.wordCloud h5 { margin: 0px; width: auto; float: left; }

.contentPane { min-height: 515px; margin: 0px; padding: 0px 10px 0px 10px; height: 100%; background-color: #592A25; }
.contentPane div { background-color: #8C3027; padding: 20px; }
.footer { height: 40px; margin: 0px; padding: 10px; text-align: center; background-color: #592A25; }
.clear { clear: both; }


.heading {
  background: url("../images/ui-bg_inset-soft_30_592a25_1x100.png") repeat-x scroll 50% 50% #8C3027;
  font-family: Segoe UI,Arial,sans-serif;
  border: 1px solid #666666;
  color: #FFFFFF;
  font-weight: bold;
  height: 40px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

input { -moz-border-radius: 3px; -moz-background-clip:padding!important; }
h1.logo { font-family: 'Rock Salt', arial, serif;  font-size: 48px; margin-top: 0;}
a:hover { color: #85A0A6; }
